{{ 'new-product.css' | asset_url | stylesheet_tag }}

  <div class="main_part">
  <!-- {% comment %} 01 hero {% endcomment %} -->
  <div class="he_edtion">
    <div class="continer_css">

      <!-- img+text -->

      <div class="col_imgbox">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/01_5d2ca3f8-6ed1-488f-831e-b358055b9496.png?v=1695721254"
          alt=""
          loading="lazy"
          width=""
          height="" />
        <div class="col_msg msg_hero">
          <div class="col_name">HERO</div>
          <div class="col_ser">series</div>
          <hr class="hr_name">
          <div class="col_rec">
            Recommended Size | <5'10"(178cm),<200lbs(90kg)
          </div>
        </div>
      </div>
    </div>

    <div class="col_main col_part">
      <!-- {% comment %} 1-1 ge_green {% endcomment %} -->
      <div class="ge_green col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $90.00</div>
        <!-- {% comment %} 图片层 {% endcomment %} -->
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66genie_green">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318701961521_1_25f24e03-d0f9-4128-84da-c9bc55ad41d6.png?v=1691033368"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318701961521_2.png?v=1690955047'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318701961521_1_25f24e03-d0f9-4128-84da-c9bc55ad41d6.png?v=1691033368'"
            alt=""
            loading="lazy"
            width=""
            height="">

          <!-- {% comment %} 产品+价格 {% endcomment %} -->
          <div>
            <div class="text_product">
              <div class="productId">GENIE EDITION</div>
              <div class="productColor">Green</div>
              <div class="productCost">
                <s>$279.00</s>
                <div class="productPricing">$189.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- {% comment %} 1-2 ge_silver {% endcomment %} -->
      <div class="ge_silver col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $90.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66genie_silver">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318704255281_1_5ef9c3e4-f82a-463e-bbae-14c5fedd4374.png?v=1690961175"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318704255281_2.png?v=1690955180'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318704255281_1_5ef9c3e4-f82a-463e-bbae-14c5fedd4374.png?v=1690961175'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">GENIE EDITION</div>
              <div class="productColor">Silver</div>
              <div class="productCost">
                <s>$279.00</s>
                <div class="productPricing">$189.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- {% comment %} 1-3 ge_purple {% endcomment %} -->
      <div class="ge_purple col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $90.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66genie_purple">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318702944561_1.png?v=1691033368"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318702944561_2.png?v=1691033114'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318702944561_1.png?v=1691033368'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">GENIE EDITION</div>
              <div class="productColor">Purple</div>
              <div class="productCost">
                <s>$279.00</s>
                <div class="productPricing">$189.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- {% comment %} 1-4 ge_brown {% endcomment %} -->
      <div class="ge_brown col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $90.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66genie_brown">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318700421425_1.png?v=1691033878"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318700421425_2.png?v=1691033648'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318700421425_1.png?v=1691033878'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">GENIE EDITION</div>
              <div class="productColor">Brown</div>
              <div class="productCost">
                <s>$279.00</s>
                <div class="productPricing">$189.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 1-5 he_purple -->
      <div class="he_purple col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $70.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66helel_purple">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318657200433_1_b570e822-56c4-427d-a8fe-dbb5c816f0fc.png?v=1691033878"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318657200433_2.png?v=1690955618'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318657200433_1_b570e822-56c4-427d-a8fe-dbb5c816f0fc.png?v=1691033878'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">HELEL EDITION</div>
              <div class="productColor">Purple</div>
              <div class="productCost">
                <s>$269.00</s>
                <div class="productPricing">$199.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 1-6 he_pink -->
      <div class="he_pink col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $70.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66helel_pink">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318648451377_1_55eff752-2e98-4dd8-b18c-dd63561c1315.png?v=1691033878"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318648451377_2.png?v=1690955511'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318648451377_1_55eff752-2e98-4dd8-b18c-dd63561c1315.png?v=1691033878'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">HELEL EDITION</div>
              <div class="productColor">Pink</div>
              <div class="productCost">
                <s>$269.00</s>
                <div class="productPricing">$199.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 1-7 la_orenge -->
      <div class="la_orenge col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $70.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66lava_orange">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318660149553_1_fc23b180-0565-4411-a1bd-3a8a4eb3fc86.png?v=1691033878"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318660149553_2.png?v=1690955765'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318660149553_1_fc23b180-0565-4411-a1bd-3a8a4eb3fc86.png?v=1691033878'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">LAVA EDITION</div>
              <div class="productColor">Orange</div>
              <div class="productCost">
                <s>$269.00</s>
                <div class="productPricing">$199.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 1-8 la_grey -->
      <div class="la_grey col_width col_top col_mob">
        <!-- 折扣价 -->
        <div class="col-product__tag">Save $70.00</div>
        <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66lava_grey">
          <img
            class="img_px"
            src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318658380081_1_cf72b5a9-317c-450c-8730-f7fd15b6d513.png?v=1691033878"
            onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318658380081_2.png?v=1690955915'"
            onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318658380081_1_cf72b5a9-317c-450c-8730-f7fd15b6d513.png?v=1691033878'"
            alt=""
            loading="lazy"
            width=""
            height="">
          <div>
            <div class="text_product">
              <div class="productId">LAVA EDITION</div>
              <div class="productColor">Grey</div>
              <div class="productCost">
                <s>$269.00</s>
                <div class="productPricing">$199.00</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- {% comment %} 03 hunter {% endcomment %} -->
<div class="hunter_edtion col_top">
  <div class="continer_css">
    <div class="col_imgbox">
      <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/03_9c14f403-c1aa-4861-951b-8516c2eb0668.png?v=1695721254" alt="">
      <div class="col_msg2">
        <div class="col_name">HUNTER</div>
        <div class="col_ser">series</div>
        <hr class="hr_name">
        <div class="col_rec">
          Recommended Size | 5'7" - 6'2"(170-188cm),< 220lbs(100kg)
        </div>
      </div>
    </div>
  </div>

  <div class="col_main col_flex">
    <div class="col_width col_top col_mob">
      <!-- 折扣价 -->
      <div class="col-product__tag">Save $150.00</div>
      <a href="https://karnox.com/products/karnox-gaming-chairs?sku=r66nl66bad_guy_white">
        <img
          class="img_px"
          src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318707761457_1_2776c2ce-c2dd-4837-ab2d-f419e9cb714b.png?v=1691033878"
          onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318707761457_2.png?v=1690956425'"
          onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318707761457_1_2776c2ce-c2dd-4837-ab2d-f419e9cb714b.png?v=1691033878'"
          alt=""
          loading="lazy"
          width=""
          height="">
        <div>
          <div class="text_product">
            <div class="productId">BAD GUY EDITION</div>
            <div class="productColor">White</div>
            <div class="productCost">
              <s>$319.00</s>
              <div class="productPricing">$169.00</div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col_width col_top col_mob">
      <!-- 折扣价 -->
      <div class="col-product__tag">Save $150.00</div>
      <a href="https://karnox.com/products/karnox-gaming-chairs?sku=r66nl66bad_guy_grey">
        <img
          class="img_px"
          src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318706286897_1_38c52749-8f1c-4fc6-a9b8-d1d5710034ea.png?v=1691033878"
          onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318706286897_2.png?v=1690956776'"
          onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318706286897_1_38c52749-8f1c-4fc6-a9b8-d1d5710034ea.png?v=1691033878'"
          alt=""
          loading="lazy"
          width=""
          height="">
        <div>
          <div class="text_product">
            <div class="productId">BAD GUY EDITION</div>
            <div class="productColor">Grey</div>
            <div class="productCost">
              <s>$319.00</s>
              <div class="productPricing">$169.00</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div></div><!-- {% comment %} 05 legend {% endcomment %} -->
<div class="legend_edtion col_top">
<div class="continer_css">
  <div class="col_imgbox">
    <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/05_6bf17dbf-2c36-4550-9b9b-b8416eb61b9b.png?v=1695721254" alt="">
    <div class="col_msg">
      <div class="col_name">LEGEND</div>
      <div class="col_ser">series</div>
      <hr class="hr_name">
      <div class="col_rec">
        Recommended Size | 5'7" - 6'2"(170-188cm),< 220lbs(100kg)
      </div>
    </div>
  </div>
</div>
<div class="col_main col_flex">
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66tr_adjudicator_light_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470884385073_1_9b24dd95-8849-41c7-a37d-c0de719da8ad.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470884385073_2.png?v=1690956938'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470884385073_1_9b24dd95-8849-41c7-a37d-c0de719da8ad.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR ADJUDICATOR EDITION</div>
          <div class="productColor">Light Grey</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66tr_adjudicator_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470890709297_1_738c1ea1-28ca-44cd-8341-af54418b7d55.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470890709297_2.png?v=1690957080'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8470890709297_1_738c1ea1-28ca-44cd-8341-af54418b7d55.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR ADJUDICATOR EDITION</div>
          <div class="productColor">Black</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66black_knignt_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318679023921_1_1133baab-bd69-4cd9-9f12-d0300386812c.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318679023921_2.png?v=1690957141'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318679023921_1_1133baab-bd69-4cd9-9f12-d0300386812c.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">BLACK KNIGHT EDITION</div>
          <div class="productColor">Black</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $50.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66bluish_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318677877041_1_9afc4160-861e-4859-92da-5942a5bda018.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318677877041_2.png?v=1690957212'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318677877041_1_9afc4160-861e-4859-92da-5942a5bda018.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">BLUISH GREY EDITION</div>
          <div class="productColor">Blusih-grey</div>
          <div class="productCost">
            <s>$379.00</s>
            <div class="productPricing">$329.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66tr_white">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318662574385_1_d9bdf558-9894-4e3a-a90a-e1281c5dc4ab.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318662574385_2.png?v=1690957281'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318662574385_1_d9bdf558-9894-4e3a-a90a-e1281c5dc4ab.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR EDITION</div>
          <div class="productColor">White</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66tr_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318661263665_1_123667da-2ee9-4924-8e75-8d84cd2f942b.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318661263665_2.png?v=1690958768'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318661263665_1_123667da-2ee9-4924-8e75-8d84cd2f942b.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR EDITION</div>
          <div class="productColor">Black</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66tr_yellow">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318663065905_1_a77ae26f-4dfc-491a-a74a-8a69ce1833bd.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318663065905_2.png?v=1690959050'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318663065905_1_a77ae26f-4dfc-491a-a74a-8a69ce1833bd.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR EDITION</div>
          <div class="productColor">Yellow</div>
          <div class="productCost">
            <s>$349.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $110.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66tr_fabric_dark_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318664769841_1_2846fe8c-e7c2-4743-8862-ba0d37aa8183.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318664769841_2.png?v=1690959147'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318664769841_1_2846fe8c-e7c2-4743-8862-ba0d37aa8183.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR FABRIC EDITION</div>
          <div class="productColor">Dark Grey</div>
          <div class="productCost">
            <s>$359.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $110.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66tr_fabric__light_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318665490737_1_6eff143d-5a8f-4b9a-bf8c-d2df76d2b750.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318665490737_2.png?v=1690959270'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318665490737_1_6eff143d-5a8f-4b9a-bf8c-d2df76d2b750.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR FABRIC EDITION</div>
          <div class="productColor">Light Grey</div>
          <div class="productCost">
            <s>$359.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $110.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66lf66tr_fabric_pro_dark_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666178865_1_dc0daf39-b70f-48d8-98fb-dad44c4ac13a.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666178865_2.png?v=1690959481'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666178865_1_dc0daf39-b70f-48d8-98fb-dad44c4ac13a.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">TR FABRIC PRO EDITION</div>
          <div class="productColor">Dark Grey</div>
          <div class="productCost">
            <s>$359.00</s>
            <div class="productPricing">$249.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $50.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66wizards_white">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318667391281_1_97690a08-d78d-45c9-8158-c25430da90e6.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318667391281_2.png?v=1690959721'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318667391281_1_97690a08-d78d-45c9-8158-c25430da90e6.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">WIZARDS EDITION</div>
          <div class="productColor">White</div>
          <div class="productCost">
            <s>$359.00</s>
            <div class="productPricing">$309.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <!-- 折扣价 -->
    <div class="col-product__tag">Save $50.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=s66nl66wizards_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666735921_1_31cafb97-d7e0-48ac-9d28-794e6fe2fc19.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666735921_2.png?v=1690959798'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318666735921_1_31cafb97-d7e0-48ac-9d28-794e6fe2fc19.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">WIZARDS EDITION</div>
          <div class="productColor">Grey</div>
          <div class="productCost">
            <s>$359.00</s>
            <div class="productPricing">$309.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div></div></div><!-- {% comment %} 09 gladiator {% endcomment %} -->
<div class="09_edtion col_top">
<div class="continer_css">
  <div class="col_imgbox">
    <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/09_74a7e41e-e4fd-4878-a6d6-f0d3ec26630c.png?v=1695721254" alt="">
    <div class="col_msg2">
      <div class="col_name">GLADIATOR</div>
      <div class="col_ser">series</div>
      <hr class="hr_name">
      <div class="col_rec">
        Recommended Size | 5'9" - 6'7"(175-200cm),< 400lbs(180kg)
      </div>
    </div>
  </div>
</div>

<div class="col_main col_flex">
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cybot_yellow">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318697537841_1_03444bb0-b8f8-4681-a0cb-c129b47511bb.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318697537841_2.png?v=1690966548'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318697537841_1_03444bb0-b8f8-4681-a0cb-c129b47511bb.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CYBOT EDITION</div>
          <div class="productColor">Yellow</div>
          <div class="productCost">
            <s>$469.00</s>
            <div class="productPricing">$389.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    {% comment %} 折扣价 {% endcomment %}
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cybot_sci_fi_blue">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318696522033_1.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318696522033_2.png?v=1691031704'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318696522033_1.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CYBOT EDITION</div>
          <div class="productColor">Sci-Fi Blue</div>
          <div class="productCost">
            <s>$469.00</s>
            <div class="productPricing">$389.00</div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66sr_white">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318693245233_1_d7b85fbf-c13c-4064-846f-15bc37e1f5c8.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318693245233_2.png?v=1690966995'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318693245233_1_d7b85fbf-c13c-4064-846f-15bc37e1f5c8.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">SR EDITION</div>
          <div class="productColor">White</div>
          <div class="productCost">
            <s>$449.00</s>
            <div class="productPricing">$369.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66sr_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318692000049_1.png?v=1691043862"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318692000049_2.png?v=1691043750'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/products/8318692000049_1.png?v=1691043862'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">SR EDITION</div>
          <div class="productColor">Black</div>
          <div class="productCost">
            <s>$449.00</s>
            <div class="productPricing">$369.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66sr_yellow">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318694392113_1_ad85a0ab-3be7-4aae-9434-c5866c54b145.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318694392113_2.png?v=1690967310'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318694392113_1_ad85a0ab-3be7-4aae-9434-c5866c54b145.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">SR EDITION</div>
          <div class="productColor">Yellow</div>
          <div class="productCost">
            <s>$449.00</s>
            <div class="productPricing">$369.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div></div></div><!-- {% comment %} 04 assassin {% endcomment %} -->
<div class="assassin_edtion col_top">
<div class="continer_css">
  <div class="col_imgbox">
    <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/04_b568d41e-2dac-4c7d-ac1a-fd8e053bfa9c.png?v=1695721254" alt="">
    <div class="col_msg">
      <div class="col_name">ASSASSIN</div>
      <div class="col_ser">series</div>
      <hr class="hr_name">
      <div class="col_rec">
        Recommended Size | 5'9" - 6'7"(175-200cm),< 400lbs(180kg)
      </div>
    </div>
  </div>
</div>
<div class="col_main col_flex col_top">
  <div class="col_width col_mob">
    <div class="col-product__tag">Save $100.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66ut66ghost_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318680531249_1_4b234d49-b087-425a-a25f-80310a5be311.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318680531249_2.png?v=1690956854'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318680531249_1_4b234d49-b087-425a-a25f-80310a5be311.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">GHOST EDITION</div>
          <div class="productColor">Black</div>
          <div class="productCost">
            <s>$529.00</s>
            <div class="productPricing">$429.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div></div></div><!-- {% comment %} 02 defender {% endcomment %} -->

<div class="de_edtion col_top">
<div class="continer_css">
  <div class="col_imgbox">
    <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/02_ad932e3b-826a-4502-8454-b4db4fbf3bdd.png?v=1695721254" alt="">
    <div class="col_msg2">
      <div class="col_name">DEFENDER</div>
      <div class="col_ser">series</div>
      <hr class="hr_name">
      <div class="col_rec">
        Recommended Size | 5'9" - 6'7"(175-200cm),< 400lbs(180kg)
      </div>
    </div>
  </div>
</div>

<div class="col_main col_flex col_top">
  <div class="col_width  col_mob">
    <div class="col-product__tag">Save $50.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=r66lf66dr_dark_grey">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318690558257_1_de819fe5-567d-4f07-a200-26de658984d0.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318690558257_2.png?v=1690956366'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318690558257_1_de819fe5-567d-4f07-a200-26de658984d0.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <!-- {% comment %} 产品+价格 {% endcomment %} -->
      <div>
        <div class="text_product">
          <div class="productId">DR EDITION</div>
          <div class="productColor">Dark Grey</div>
          <div class="productCost">
            <s>$399.00</s>
            <div class="productPricing">$349.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div></div></div><!-- {% comment %} 08 commander {% endcomment %} -->
<div class="commander_edtion col_top">
<div class="continer_css">
  <div class="col_imgbox">
    <img src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/08_edce5301-cb3b-4c0e-919e-40ff28c5f1fd.png?v=1695721254" alt="">
    <div class="col_msg">
      <div class="col_name">COMMANDER</div>
      <div class="col_ser">series</div>
      <hr class="hr_name">
      <div class="col_rec">
        Recommended Size | 5'9" - 6'7"(175-200cm),< 400lbs(180kg)
      </div>
    </div>
  </div>
</div>

<div class="col_main col_flex">
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cr_white">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318684561713_1_f2b6a0f7-9e6b-40e7-a380-6698f68aff4f.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318684561713_2.png?v=1690959908'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318684561713_1_f2b6a0f7-9e6b-40e7-a380-6698f68aff4f.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CR EDITION</div>
          <div class="productColor">White</div>
          {% comment %} <div class="productPrice">$459.00</div> {% endcomment %}
          <div class="productCost">
            <s>$459.00</s>
            <div class="productPricing">$379.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cr_black">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318681809201_1_91453038-3274-43dd-b8f7-6d901acbf552.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318681809201_2.png?v=1690960013'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318681809201_1_91453038-3274-43dd-b8f7-6d901acbf552.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CR EDITION</div>
          <div class="productColor">Black</div>
          {% comment %} <div class="productPrice">$459.00</div> {% endcomment %}
          <div class="productCost">
            <s>$459.00</s>
            <div class="productPricing">$379.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cr_yellow">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318685937969_1_b804b6d9-00e4-4426-aa56-4e2c1d3922f3.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318685937969_2.png?v=1690960171'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318685937969_1_b804b6d9-00e4-4426-aa56-4e2c1d3922f3.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CR EDITION</div>
          <div class="productColor">Yellow</div>
          {% comment %} <div class="productPrice">$459.00</div> {% endcomment %}
          <div class="productCost">
            <s>$459.00</s>
            <div class="productPricing">$379.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $80.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66nl66cr_brown" ">
      <img
        class="img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318683054385_1_3121c23b-8f8c-4190-8df7-def2ce97b700.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318683054385_2.png?v=1690960459'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318683054385_1_3121c23b-8f8c-4190-8df7-def2ce97b700.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">CR EDITION</div>
          <div class="productColor">Brown</div>
          {% comment %} <div class="productPrice">$459.00</div> {% endcomment %}
          <div class="productCost">
            <s>$459.00</s>
            <div class="productPricing">$379.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $120.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66mn66skywalker_white" ">
      <img
        class=" img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318688723249_1_956def51-e95e-4316-b616-1715e377fd5b.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318688723249_2.png?v=1690960867'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318688723249_1_956def51-e95e-4316-b616-1715e377fd5b.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">SKYWALKER EDITION</div>
          <div class="productColor">White</div>
          {% comment %} <div class="productPrice">$599.00</div> {% endcomment %}
          <div class="productCost">
            <s>$599.00</s>
            <div class="productPricing">$479.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col_width col_top col_mob">
    <div class="col-product__tag">Save $120.00</div>
    <a href="https://karnox.com/products/karnox-gaming-chairs?sku=x66mn66skywalker_black" ">
      <img
        class=" img_px"
        src="https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318687314225_1_18ce19ba-550a-4f50-9c22-b68d68bbd423.png?v=1691033878"
        onmouseover="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318687314225_2.png?v=1690960999'"
        onmouseout="this.src='https://cdn.shopifycdn.net/s/files/1/0716/8842/1681/files/8318687314225_1_18ce19ba-550a-4f50-9c22-b68d68bbd423.png?v=1691033878'"
        alt=""
        loading="lazy"
        width=""
        height="">
      <div>
        <div class="text_product">
          <div class="productId">SKYWALKER EDITION</div>
          <div class="productColor">Black</div>
          {% comment %} <div class="productPrice">$599.00</div> {% endcomment %}
          <div class="productCost">
            <s>$599.00</s>
            <div class="productPricing">$479.00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div></div></div></div>{% schema %}
{
  "name": "collection New",
  "class": "col_new",
  "blocks": [
    {
      "type": "collection_new",
      "name": "collection New",
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "导航-tec"
        }
      ]
    }
  ],

  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "text_page"
    }
  ],

  "presets": [
    {
      "category": "collection New",
      "name": "collection-new"
    }
  ]
}{% endschema %}